<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('SEND')" data-ng-class="{active: currency.symbol == 'SEND'}">SEND</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mSEND')" data-ng-class="{active: currency.symbol == 'mSEND'}">mSEND</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('uSEND')" data-ng-class="{active: currency.symbol == 'uSEND'}">uSEND</a>
  </li>
</ul>

